In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import gc 
import time 
from tqdm import tqdm_notebook


plt.figure(figsize=(12,9))
%matplotlib inline

In [2]:
t1 = time.time()
with pd.HDFStore('../input/raw_data.h5') as store:
    print(store.keys())
    train_df = store['train_df'] 
    test_df  = store['test_df'] 
t2 = time.time()

print('loading time: {:.1f} sec'.format(t2-t1))

['/test_df', '/train_df']
loading time: 7.7 sec

* add hour, day

In [3]:
train_df['hour'] = train_df.click_time.dt.hour.astype('uint8')
train_df['day']  = train_df.click_time.dt.day.astype('uint8')
train_df.head()

,ip,app,device,os,channel,click_time,is_attributed,hour,day
0,83230,3,1,13,379,2017-11-06 14:32:21,0,14,6
1,17357,3,1,19,379,2017-11-06 14:33:34,0,14,6
2,35810,3,1,13,379,2017-11-06 14:34:12,0,14,6
3,45745,14,1,13,478,2017-11-06 14:34:52,0,14,6
4,161007,3,1,13,379,2017-11-06 14:35:08,0,14,6

In [4]:
subtrn_df = train_df.iloc[:1000000].copy()

In [5]:
subtrn_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
ip               1000000 non-null uint32
app              1000000 non-null uint16
device           1000000 non-null uint16
os               1000000 non-null uint16
channel          1000000 non-null uint16
click_time       1000000 non-null datetime64[ns]
is_attributed    1000000 non-null uint8
hour             1000000 non-null uint8
day              1000000 non-null uint8
dtypes: datetime64[ns](1), uint16(4), uint32(1), uint8(3)
memory usage: 29.6 MB

# Feat
* cnt by (ip,app,device,os,channel,day, hour)

In [6]:
subtrn_df.head()

,ip,app,device,os,channel,click_time,is_attributed,hour,day
0,83230,3,1,13,379,2017-11-06 14:32:21,0,14,6
1,17357,3,1,19,379,2017-11-06 14:33:34,0,14,6
2,35810,3,1,13,379,2017-11-06 14:34:12,0,14,6
3,45745,14,1,13,478,2017-11-06 14:34:52,0,14,6
4,161007,3,1,13,379,2017-11-06 14:35:08,0,14,6

In [7]:
groupby_cols = ['ip','app','device','os','channel','day','hour']
clicks = subtrn_df.groupby(groupby_cols)['click_time'].count().\
    reset_index().rename(columns={'click_time':'click_cnt'}).sort_values('click_cnt',ascending=False)
subtrn_df = subtrn_df.merge(clicks,how='left',on=groupby_cols)

In [8]:
subtrn_df.click_cnt.value_counts()

1      458047
2      165146
3       91209
4       51436
6       38532
5       30650
7       17332
8       14952
9       13617
10       9960
11       8547
12       7428
13       6045
15       5400
14       4704
16       4416
17       3944
18       3600
19       2812
24       2592
20       2380
21       2310
22       2266
33       2112
31       2077
23       2047
26       1898
27       1809
25       1750
30       1470
        ...
144       144
143       143
142       142
140       140
137       137
135       135
134       134
133       133
129       129
122       122
121       121
117       117
115       115
113       113
112       112
111       111
108       108
107       107
105       105
101       101
95         95
92         92
91         91
90         90
89         89
88         88
85         85
82         82
78         78
61         61
Name: click_cnt, Length: 141, dtype: int64

In [9]:
subtrn_df.groupby('click_cnt')['is_attributed'].sum()

click_cnt
1      1254.0
2       257.0
3        95.0
4        33.0
5        18.0
6        14.0
7         3.0
8         4.0
9         4.0
10        0.0
11        1.0
12        0.0
13        2.0
14        0.0
15        1.0
16        0.0
17        0.0
18        2.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        1.0
27        0.0
28        0.0
29        0.0
30        0.0
        ...
129       0.0
133       0.0
134       0.0
135       0.0
137       0.0
140       0.0
142       0.0
143       0.0
144       0.0
147       0.0
150       0.0
153       0.0
157       0.0
159       0.0
165       0.0
167       0.0
168       0.0
172       0.0
183       0.0
187       0.0
193       0.0
198       0.0
201       0.0
210       0.0
218       0.0
221       0.0
222       0.0
232       0.0
244       0.0
248       0.0
Name: is_attributed, Length: 141, dtype: float64

* prev click time by (app,ip,os,device)

In [10]:
gp = subtrn_df.groupby(['app','ip','os','device'])
prevClickTime = gp.click_time.shift(1)
prev2ClickTime = gp.click_time.shift(2)
subtrn_df['prev_click_time'] = prevClickTime
subtrn_df['prev2_click_time'] = prev2ClickTime
subtrn_df['prev_click_diff'] = subtrn_df.click_time - prevClickTime  
subtrn_df['prev2_click_diff'] = subtrn_df.click_time - prev2ClickTime
subtrn_df.tail(5)

,ip,app,device,os,channel,click_time,is_attributed,hour,day,click_cnt,prev_click_time,prev2_click_time,prev_click_diff,prev2_click_diff
999995,29748,9,1,12,134,2017-11-06 16:21:51,0,16,6,1,NaT,NaT,NaT,NaT
999996,124520,12,1,15,178,2017-11-06 16:21:51,0,16,6,1,NaT,NaT,NaT,NaT
999997,206446,18,1,42,107,2017-11-06 16:21:51,0,16,6,1,NaT,NaT,NaT,NaT
999998,167577,12,1,13,265,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:12:11,NaT,00:09:40,NaT
999999,121848,24,1,19,105,2017-11-06 16:21:51,0,16,6,1,NaT,NaT,NaT,NaT

In [13]:
# mask = ~subtrn_df.prev_click_diff.isnull()
# subtrn_df[mask].head()
mask_ = (subtrn_df.ip==108942) & (subtrn_df.app==3) & (subtrn_df.os==19) & (subtrn_df.device==1)
subtrn_df[mask_]

,ip,app,device,os,channel,click_time,is_attributed,hour,day,click_cnt,prev_click_time,prev2_click_time,prev_click_diff,prev2_click_diff
52,108942,3,1,19,379,2017-11-06 15:04:28,0,15,6,4,NaT,NaT,NaT,NaT
190,108942,3,1,19,379,2017-11-06 15:45:18,0,15,6,4,2017-11-06 15:04:28,NaT,00:40:50,NaT
205,108942,3,1,19,379,2017-11-06 15:46:12,0,15,6,4,2017-11-06 15:45:18,2017-11-06 15:04:28,00:00:54,00:41:44
271,108942,3,1,19,379,2017-11-06 15:49:03,0,15,6,4,2017-11-06 15:46:12,2017-11-06 15:45:18,00:02:51,00:03:45
85389,108942,3,1,19,130,2017-11-06 16:01:31,0,16,6,1,2017-11-06 15:49:03,2017-11-06 15:46:12,00:12:28,00:15:19
245676,108942,3,1,19,280,2017-11-06 16:04:48,0,16,6,4,2017-11-06 16:01:31,2017-11-06 15:49:03,00:03:17,00:15:45
299694,108942,3,1,19,135,2017-11-06 16:05:45,0,16,6,2,2017-11-06 16:04:48,2017-11-06 16:01:31,00:00:57,00:04:14
300432,108942,3,1,19,115,2017-11-06 16:05:45,0,16,6,2,2017-11-06 16:05:45,2017-11-06 16:04:48,00:00:00,00:00:57
300972,108942,3,1,19,417,2017-11-06 16:05:46,0,16,6,1,2017-11-06 16:05:45,2017-11-06 16:05:45,00:00:01,00:00:01
340228,108942,3,1,19,135,2017-11-06 16:06:30,0,16,6,2,2017-11-06 16:05:46,2017-11-06 16:05:45,00:00:44,00:00:45
341176,108942,3,1,19,115,2017-11-06 16:06:31,0,16,6,2,2017-11-06 16:06:30,2017-11-06 16:05:46,00:00:01,00:00:45
451579,108942,3,1,19,280,2017-11-06 16:08:54,0,16,6,4,2017-11-06 16:06:31,2017-11-06 16:06:30,00:02:23,00:02:24
488309,108942,3,1,19,489,2017-11-06 16:09:44,0,16,6,3,2017-11-06 16:08:54,2017-11-06 16:06:31,00:00:50,00:03:13
497802,108942,3,1,19,452,2017-11-06 16:09:56,0,16,6,2,2017-11-06 16:09:44,2017-11-06 16:08:54,00:00:12,00:01:02
655132,108942,3,1,19,280,2017-11-06 16:13:34,0,16,6,4,2017-11-06 16:09:56,2017-11-06 16:09:44,00:03:38,00:03:50
676191,108942,3,1,19,452,2017-11-06 16:14:04,0,16,6,2,2017-11-06 16:13:34,2017-11-06 16:09:56,00:00:30,00:04:08
709702,108942,3,1,19,173,2017-11-06 16:14:51,0,16,6,1,2017-11-06 16:14:04,2017-11-06 16:13:34,00:00:47,00:01:17
717317,108942,3,1,19,489,2017-11-06 16:15:02,0,16,6,3,2017-11-06 16:14:51,2017-11-06 16:14:04,00:00:11,00:00:58
721421,108942,3,1,19,409,2017-11-06 16:15:08,0,16,6,1,2017-11-06 16:15:02,2017-11-06 16:14:51,00:00:06,00:00:17
736156,108942,3,1,19,489,2017-11-06 16:15:29,0,16,6,3,2017-11-06 16:15:08,2017-11-06 16:15:02,00:00:21,00:00:27
760037,108942,3,1,19,379,2017-11-06 16:16:03,0,16,6,1,2017-11-06 16:15:29,2017-11-06 16:15:08,00:00:34,00:00:55
839326,108942,3,1,19,280,2017-11-06 16:18:02,0,16,6,4,2017-11-06 16:16:03,2017-11-06 16:15:29,00:01:59,00:02:33

* cumcount by (ip,app,os,device,hour,day)

In [18]:
gp = subtrn_df.groupby(['ip','app','os','device','hour','day'])
subtrn_df['cumcnt'] = gp.click_time.cumcount()

mask_ = subtrn_df.cumcnt !=0
subtrn_df[mask]

,ip,app,device,os,channel,click_time,is_attributed,hour,day,click_cnt,prev_click_time,prev2_click_time,prev_click_diff,prev2_click_diff,cumcnt
74,89489,3,1,13,379,2017-11-06 15:20:38,0,15,6,2,2017-11-06 15:13:23,NaT,00:07:15,NaT,1
90,109591,3,1,19,379,2017-11-06 15:39:16,0,15,6,3,2017-11-06 15:30:16,NaT,00:09:00,NaT,1
146,53964,3,1,18,379,2017-11-06 15:42:38,0,15,6,2,2017-11-06 15:41:39,NaT,00:00:59,NaT,1
190,108942,3,1,19,379,2017-11-06 15:45:18,0,15,6,4,2017-11-06 15:04:28,NaT,00:40:50,NaT,1
196,84774,3,1,13,379,2017-11-06 15:45:32,0,15,6,3,2017-11-06 15:44:55,NaT,00:00:37,NaT,1
200,42102,3,1,13,379,2017-11-06 15:45:45,0,15,6,2,2017-11-06 15:39:47,NaT,00:05:58,NaT,1
203,109591,3,1,19,379,2017-11-06 15:46:02,0,15,6,3,2017-11-06 15:39:16,2017-11-06 15:30:16,00:06:46,00:15:46,2
205,108942,3,1,19,379,2017-11-06 15:46:12,0,15,6,4,2017-11-06 15:45:18,2017-11-06 15:04:28,00:00:54,00:41:44,2
208,108881,3,1,13,379,2017-11-06 15:46:15,0,15,6,4,2017-11-06 15:41:58,NaT,00:04:17,NaT,1
213,76683,3,1,13,379,2017-11-06 15:46:25,0,15,6,2,2017-11-06 15:46:22,NaT,00:00:03,NaT,1
223,172483,3,1,13,379,2017-11-06 15:46:45,0,15,6,5,2017-11-06 15:26:02,NaT,00:20:43,NaT,1
228,108040,3,1,8,379,2017-11-06 15:46:52,0,15,6,2,2017-11-06 15:46:52,NaT,00:00:00,NaT,1
239,44645,3,1,19,379,2017-11-06 15:47:29,0,15,6,2,2017-11-06 15:47:01,NaT,00:00:28,NaT,1
243,119369,3,1,19,379,2017-11-06 15:47:40,0,15,6,2,2017-11-06 15:47:37,NaT,00:00:03,NaT,1
265,84644,3,1,19,379,2017-11-06 15:48:40,0,15,6,1,2017-11-06 14:56:49,NaT,00:51:51,NaT,0
266,28578,3,1,15,379,2017-11-06 15:48:48,0,15,6,2,2017-11-06 15:42:12,NaT,00:06:36,NaT,1
267,44229,3,1,13,379,2017-11-06 15:48:49,0,15,6,2,2017-11-06 15:42:18,NaT,00:06:31,NaT,1
271,108942,3,1,19,379,2017-11-06 15:49:03,0,15,6,4,2017-11-06 15:46:12,2017-11-06 15:45:18,00:02:51,00:03:45,3
283,209663,3,1,13,379,2017-11-06 15:49:43,0,15,6,1,2017-11-06 14:48:55,NaT,01:00:48,NaT,0
306,108858,3,1,19,379,2017-11-06 15:50:37,0,15,6,2,2017-11-06 15:43:45,NaT,00:06:52,NaT,1
323,51590,3,1,19,379,2017-11-06 15:51:31,0,15,6,3,2017-11-06 15:41:21,NaT,00:10:10,NaT,1
328,51590,3,1,19,379,2017-11-06 15:51:42,0,15,6,3,2017-11-06 15:51:31,2017-11-06 15:41:21,00:00:11,00:10:21,2
332,129614,3,1,19,379,2017-11-06 15:51:52,0,15,6,1,2017-11-06 14:57:50,NaT,00:54:02,NaT,0
348,53964,3,1,13,379,2017-11-06 15:52:59,0,15,6,2,2017-11-06 15:52:13,NaT,00:00:46,NaT,1
351,172483,3,1,13,379,2017-11-06 15:53:17,0,15,6,5,2017-11-06 15:46:45,2017-11-06 15:26:02,00:06:32,00:27:15,2
352,166616,3,1,19,379,2017-11-06 15:53:26,0,15,6,2,2017-11-06 15:42:22,NaT,00:11:04,NaT,1
359,83500,3,1,19,379,2017-11-06 15:53:43,0,15,6,3,2017-11-06 15:53:43,NaT,00:00:00,NaT,1
360,83500,3,1,19,379,2017-11-06 15:53:43,0,15,6,3,2017-11-06 15:53:43,2017-11-06 15:53:43,00:00:00,00:00:00,2
361,108881,3,1,13,379,2017-11-06 15:53:46,0,15,6,4,2017-11-06 15:46:15,2017-11-06 15:41:58,00:07:31,00:11:48,2
364,62094,3,1,19,379,2017-11-06 15:54:02,0,15,6,2,2017-11-06 15:41:40,NaT,00:12:22,NaT,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999951,44527,3,1,13,280,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:21:07,2017-11-06 16:16:19,00:00:44,00:05:32,18
999952,142466,15,1,18,245,2017-11-06 16:21:51,0,16,6,5,2017-11-06 16:21:28,2017-11-06 16:18:46,00:00:23,00:03:05,4
999954,188430,12,1,17,178,2017-11-06 16:21:51,0,16,6,5,2017-11-06 16:20:22,2017-11-06 16:20:22,00:01:29,00:01:29,5
999955,188430,3,1,17,280,2017-11-06 16:21:51,0,16,6,3,2017-11-06 16:20:24,2017-11-06 16:20:22,00:01:27,00:01:29,3
999957,138561,12,1,17,245,2017-11-06 16:21:51,0,16,6,4,2017-11-06 16:14:25,2017-11-06 16:14:25,00:07:26,00:07:26,7
999958,142466,12,1,18,245,2017-11-06 16:21:51,0,16,6,5,2017-11-06 16:21:28,2017-11-06 16:18:46,00:00:23,00:03:05,4
999961,45757,3,1,13,417,2017-11-06 16:21:51,0,16,6,2,2017-11-06 16:20:43,2017-11-06 16:20:21,00:01:08,00:01:30,9
999964,82002,12,1,20,259,2017-11-06 16:21:51,0,16,6,6,2017-11-06 16:20:11,2017-11-06 16:10:57,00:01:40,00:10:54,5
999965,199314,2,1,19,477,2017-11-06 16:21:51,0,16,6,3,2017-11-06 16:16:11,2017-11-06 16:11:36,00:05:40,00:10:15,2
999968,2698,3,1,30,115,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:21:51,NaT,00:00:00,NaT,1
999969,82002,9,1,20,234,2017-11-06 16:21:51,0,16,6,7,2017-11-06 16:20:11,2017-11-06 16:14:52,00:01:40,00:06:59,6
999971,28113,15,1,13,245,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:04:16,NaT,00:17:35,NaT,1
999972,175237,18,1,19,439,2017-11-06 16:21:51,0,16,6,2,2017-11-06 16:08:14,2017-11-06 16:02:54,00:13:37,00:18:57,2
999973,114656,3,1,36,137,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:21:08,2017-11-06 16:20:24,00:00:43,00:01:27,3
999974,43793,6,1,18,125,2017-11-06 16:21:51,0,16,6,2,2017-11-06 16:21:29,2017-11-06 16:21:22,00:00:22,00:00:29,2
999975,166358,26,1,12,266,2017-11-06 16:21:51,0,16,6,2,2017-11-06 16:21:29,2017-11-06 16:10:46,00:00:22,00:11:05,4
999976,67494,9,1,19,234,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:18:07,2017-11-06 16:16:48,00:03:44,00:05:03,6
999977,73516,3,1,13,280,2017-11-06 16:21:51,0,16,6,40,2017-11-06 16:21:49,2017-11-06 16:21:43,00:00:02,00:00:08,238
999978,109744,9,1,20,234,2017-11-06 16:21:51,0,16,6,6,2017-11-06 16:20:23,2017-11-06 16:20:06,00:01:28,00:01:45,5
999981,93155,12,1,19,178,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:04:03,NaT,00:17:48,NaT,1
999982,15530,9,1,18,466,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:16:17,2017-11-06 16:08:16,00:05:34,00:13:35,2
999985,38277,3,1,12,137,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:20:50,NaT,00:01:01,NaT,1
999987,43698,18,1,19,121,2017-11-06 16:21:51,0,16,6,2,2017-11-06 16:03:17,NaT,00:18:34,NaT,1
999988,27838,12,1,19,265,2017-11-06 16:21:51,0,16,6,2,2017-11-06 16:16:33,2017-11-06 16:02:17,00:05:18,00:19:34,2
999989,70271,2,1,6,435,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:21:51,2017-11-06 16:18:16,00:00:00,00:03:35,3
999990,76788,3,1,12,205,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:11:40,2017-11-06 16:11:39,00:10:11,00:10:12,6
999992,105560,3,1,19,137,2017-11-06 16:21:51,0,16,6,11,2017-11-06 16:21:36,2017-11-06 16:21:35,00:00:15,00:00:16,88
999993,73516,9,2,13,134,2017-11-06 16:21:51,0,16,6,17,2017-11-06 16:20:46,2017-11-06 16:20:32,00:01:05,00:01:19,33
999994,6578,9,1,18,244,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:10:20,2017-11-06 16:10:13,00:11:31,00:11:38,2
999998,167577,12,1,13,265,2017-11-06 16:21:51,0,16,6,1,2017-11-06 16:12:11,NaT,00:09:40,NaT,1

# cv loop 
over train data

In [9]:
from sklearn.model_selection import StratifiedKFold

stf = StratifiedKFold(n_splits=5,random_state=1)
stf.get_n_splits(X=train_df, y=train_df.is_attributed)

for trn_idx, val_idx in stf.split(X=train_df, y=train_df.is_attributed):
    print(val_idx)

[       0        1        2 ..., 36983273 36983274 36983275]
[36243525 36243796 36244437 ..., 74683566 74683569 74683930]
[ 73959321  73959322  73959323 ..., 110950996 110950997 110950998]
[107487770 107487834 107488225 ..., 148717424 148717443 148718406]
[147921222 147921223 147921224 ..., 184903887 184903888 184903889]

In [10]:
del trn_idx,val_idx
gc.collect()

1682