In [52]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline 
import gc 
from tqdm import tqdm_notebook,tqdm

In [53]:
frm = 0 
to = frm + 1000000
val_size = 10000
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32',
        }
print('loading train data...',frm,to)
train_df = pd.read_csv("../input/train.csv.zip",
                       parse_dates=['click_time'], 
                       skiprows=range(1,frm), 
                       nrows=to-frm, 
                       dtype=dtypes, 
                       usecols=['ip','app','device','os', 'channel', 'click_time', 'is_attributed'])
print('loading test data...')
test_df = pd.read_csv("../input/test.csv.zip", 
                      nrows=100000, 
                      parse_dates=['click_time'], 
                      dtype=dtypes, 
                      usecols=['ip','app','device','os', 'channel', 'click_time', 'click_id'])

loading train data... 0 1000000
loading test data...

In [54]:
train_df.dtypes

ip                       uint32
app                      uint16
device                   uint16
os                       uint16
channel                  uint16
click_time       datetime64[ns]
is_attributed             uint8
dtype: object

In [55]:
train_df.head()

       ip  app  device  os  channel          click_time  is_attributed
0   83230    3       1  13      379 2017-11-06 14:32:21              0
1   17357    3       1  19      379 2017-11-06 14:33:34              0
2   35810    3       1  13      379 2017-11-06 14:34:12              0
3   45745   14       1  13      478 2017-11-06 14:34:52              0
4  161007    3       1  13      379 2017-11-06 14:35:08              0

In [56]:
train_df['day'] = train_df['click_time'].dt.day.astype(np.uint8)
train_df['hour'] = train_df['click_time'].dt.hour.astype(np.uint8)

# Features

1. How many **unique** `channel` by `ip`
2. How many **cumcount** `app` by `ip`,`device`,`os` (person)
3. How many **unique** `hour` by `ip`,`day`
4. How many **unique** `app` by `ip`
5. How many **unique** `app` by `ip`,`os`
6. How many **unique** `device` by `ip`
7. How many **unique** `app` by `channel`
8. How many **cumcount** `os` by `ip` --- why ???? WE NEED IT??
9. How many **unique** `app` by `ip`,`device`,`os`

In [90]:
def encode_agg_feature(selcols, groupby, aggregator = 'nunique'):
    usecols = [e for e in selcols if e not in  groupby]
    if aggregator == 'nunique':        
        gp = train_df[selcols].groupby(groupby)[usecols].nunique().reset_index().\
            rename(columns = {
                usecols[-1] : usecols[-1] + '_nunique_' + '_'.join(groupby)
            })
        df = train_df.merge(gp, how='left', on=groupby)

    elif aggregator == 'cumcount':
        gp = train_df[selcols].groupby(groupby)[usecols].cumcount()
        df = train_df.copy()
        df[usecols[-1] + '_cumcnt_' + '_'.join(groupby)] = gp.values
    
    elif aggregator == 'count':
        gp = train_df[selcols].groupby(groupby)[usecols].count().reset_index().\
            rename(columns = {
                usecols[-1] : usecols[-1] + '_cnt_' + '_'.join(groupby)
            })
        df = train_df.merge(gp, how='left', on=groupby)
    elif aggregator in ['var','mean']:
        agg=np.var if aggregator == 'var' else np.mean            
        gp = train_df[selcols].groupby(groupby).agg(agg).reset_index().\
            rename(columns = {
                usecols[-1] : usecols[-1] + '_var_' + '_'.join(groupby)
            })
        df = train_df.merge(gp, how='left', on=groupby)
    return df.iloc[:,-1]

In [58]:
print('feature1 : number of unique "channel" by ip',end='\t')
f1 = encode_agg_feature(groupby=['ip'], selcols=['ip','channel'],aggregator='nunique')
print(f1.name)

print('feature2 : cumcount of "app" by (ip,device,os)',end='\t')
f2 = encode_agg_feature(selcols=['app','ip','device','os'], groupby=['ip','device','os'], aggregator='cumcount')
print(f2.name)

print('feature3 : number of unique "hour" by (ip, day)',end='\t')
f3 = encode_agg_feature(selcols=['hour','ip','day'], groupby=['ip','day'], aggregator='nunique')
print(f3.name)

print('feature4 : number of unique "app" by ip', end='\t')
f4 = encode_agg_feature(selcols=['app', 'ip'], groupby=['ip'])
print(f4.name)

print('feature5 : number of unique "app" by (ip,os)',end='\t')
f5 = encode_agg_feature(selcols=['app', 'ip', 'os'], groupby=['ip','os'])
print(f5.name)

print('feature6 : number of unique "device" by ip',end='\t')
f6 = encode_agg_feature(selcols=['device', 'ip'], groupby=['ip'])
print(f6.name)

print('feature7 : number of unique "app" by channel',end='\t')
f7 = encode_agg_feature(selcols=['app', 'channel'], groupby=['channel'])
print(f7.name)

print('feature8 : cumcount of "os" by ip ',end='\t')
f8 = encode_agg_feature(selcols=['os', 'ip'], groupby=['ip'], aggregator='cumcount')
print(f8.name)

print('feature9 : number of unique "app" by (ip,device,os)',end='\t')
f9 = encode_agg_feature(selcols=['app', 'ip','device','os'], groupby=['ip','device','os'])
print(f9.name)

feature1 : number of unique "channel" by ip	channel_nunique_ip
feature2 : cumcount of "app" by (ip,device,os)	app_cumcnt_ip_device_os
feature3 : number of unique "hour" by (ip, day)	hour_nunique_ip_day
feature4 : number of unique "app" by ip	app_nunique_ip
feature5 : number of unique "app" by (ip,os)	app_nunique_ip_os
feature6 : number of unique "device" by ip	device_nunique_ip
feature7 : number of unique "app" by channel	app_nunique_channel
feature8 : cumcount of "os" by ip 	os_cumcnt_ip
feature9 : number of unique "app" by (ip,device,os)	app_nunique_ip_device_os

In [60]:
train_df[f1.name] = f1.values
train_df[f2.name] = f2.values
train_df[f3.name] = f3.values
train_df[f4.name] = f4.values
train_df[f5.name] = f5.values
train_df[f6.name] = f6.values
train_df[f7.name] = f7.values
train_df[f8.name] = f8.values
train_df[f9.name] = f9.values

In [61]:
train_df.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'day', 'hour', 'channel_nunique_ip', 'app_cumcnt_ip_device_os',
       'hour_nunique_ip_day', 'app_nunique_ip', 'app_nunique_ip_os',
       'device_nunique_ip', 'app_nunique_channel', 'os_cumcnt_ip',
       'app_nunique_ip_device_os'],
      dtype='object')

In [62]:
train_df.head().T

,0,1,2,3,4
ip,83230,17357,35810,45745,161007
app,3,3,3,14,3
device,1,1,1,1,1
os,13,19,13,13,13
channel,379,379,379,478,379
click_time,2017-11-06 14:32:21,2017-11-06 14:33:34,2017-11-06 14:34:12,2017-11-06 14:34:52,2017-11-06 14:35:08
is_attributed,0,0,0,0,0
day,6,6,6,6,6
hour,14,14,14,14,14
channel_nunique_ip,46,42,35,81,1
app_cumcnt_ip_device_os,0,0,0,0,0
hour_nunique_ip_day,2,3,2,2,1
app_nunique_ip,19,20,17,31,1
app_nunique_ip_os,16,11,10,24,1
device_nunique_ip,1,1,3,6,1
app_nunique_channel,6,6,6,2,6
os_cumcnt_ip,0,0,0,0,0
app_nunique_ip_device_os,16,11,10,24,1

## count 

- feature 10 : count by (ip,day,hour)
- feature 11 : count by (ip,app)
- feature 12 : count by (ip,app,os)

In [63]:
print('feature 10 : count by (ip,day,hour)',end='\t')
f10 = encode_agg_feature(selcols=['ip','day','hour','channel'],groupby=['ip','day','hour'],aggregator='count')
print(f10.name)

print('feature 11 : count by (ip,app)', end='\t')
f11 = encode_agg_feature(selcols=['ip','app','channel'],groupby=['ip','app'],aggregator='count')
print(f11.name)

print('feature 12 : count by (ip,app,os)',end='\t')
f12 = encode_agg_feature(selcols=['ip','app','channel','os'],groupby=['ip','app','os'],aggregator='count')
print(f12.name)

feature 10 : count by (ip,day,hour)	channel_cnt_ip_day_hour
feature 11 : count by (ip,app)	channel_cnt_ip_app
feature 12 : count by (ip,app,os)	channel_cnt_ip_app_os

## var, mean hour

- feature 13 : var of hour by (ip,day,channel)
- feature 14 : var of hour by (ip,app,os)
- feature 15 : var of day by (ip,app,channel)
- feature 16 : mean of hour by (ip,app,channel)

In [94]:
print('feature 13: var of hour by (ip,day,channel)',end='\t')
f13 = encode_agg_feature(selcols=['ip','day','channel','hour'],
                         groupby=['ip','day','channel'],
                         aggregator='var'                    
                        )
print(f13.name)

print('feature 14: var of hour by (ip,app,os)', end='\t')
f14 =encode_agg_feature(selcols=['ip','app','os','hour'], groupby=['ip','app','os'], aggregator='var')
print(f14.name)

print('feature 15: var of day by (ip,app,channel)',end='\t')
f15 = encode_agg_feature(selcols=['ip','app','channel','day'],groupby=['ip','app','channel'], aggregator='var')
print(f15.name)

print('feature 16: mean of hour by (ip,app,channel)', end='\t')
f16 = encode_agg_feature(selcols=['ip','app','channel','hour'],groupby=['ip','app','channel'],aggregator='mean')
print(f16.name)

feature 13: var of hour by (ip,day,channel)	hour_var_ip_day_channel
feature 14: var of hour by (ip,app,os)	hour_var_ip_app_os
feature 15: var of day by (ip,app,channel)	day_var_ip_app_channel
feature 16: mean of hour by (ip,app,channel)	hour_var_ip_app_channel

___

In [36]:
cols = ['nextClick', 'nextClick_shift', 'app', 'device', 'os', 'channel', 'hour', 'day', 'ip_tcount', 'ip_tchan_count', 'ip_app_count', 'ip_app_os_count', 'ip_app_os_var', 'ip_app_channel_var_day', 'ip_app_channel_mean_hour', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8']
importances = [138, 1, 232, 27, 147, 305, 105, 0, 40, 2, 32, 21, 10, 7, 8, 52, 9, 9, 33, 11, 28, 13, 7, 35]

In [39]:
pd.DataFrame({'col':cols,'imp':importances}).sort_values(by='imp',ascending=False)

                         col  imp
5                    channel  305
2                        app  232
4                         os  147
0                  nextClick  138
6                       hour  105
15                        X0   52
8                  ip_tcount   40
23                        X8   35
18                        X3   33
10              ip_app_count   32
20                        X5   28
3                     device   27
11           ip_app_os_count   21
21                        X6   13
19                        X4   11
12             ip_app_os_var   10
16                        X1    9
17                        X2    9
14  ip_app_channel_mean_hour    8
13    ip_app_channel_var_day    7
22                        X7    7
9             ip_tchan_count    2
1            nextClick_shift    1
7                        day    0

## Next Click

In [145]:
D=2**26
train_df['category'] = (train_df['ip'].astype(str) + "_" + train_df['app'].astype(str) + "_" + train_df['device'].astype(str) \
    + "_" + train_df['os'].astype(str)).apply(hash) % D
click_buffer= np.full(D, 3000000000, dtype=np.uint32)

train_df['epochtime']= train_df['click_time'].astype(np.int64) // 10 ** 9
next_clicks= []
for category, t in zip(reversed(train_df['category'].values), reversed(train_df['epochtime'].values)):
    next_clicks.append(click_buffer[category]-t)
    click_buffer[category]= t

In [146]:
QQ= list(reversed(next_clicks))

In [148]:
train_df['nextClick'] = QQ

In [149]:
train_df.head().T

,0,1,2,3,4
ip,83230,17357,35810,45745,161007
app,3,3,3,14,3
device,1,1,1,1,1
os,13,19,13,13,13
channel,379,379,379,478,379
click_time,2017-11-06 14:32:21,2017-11-06 14:33:34,2017-11-06 14:34:12,2017-11-06 14:34:52,2017-11-06 14:35:08
is_attributed,0,0,0,0,0
day,6,6,6,6,6
hour,14,14,14,14,14
channel_nunique_ip,46,42,35,81,1
app_cumcnt_ip_device_os,0,0,0,0,0
hour_nunique_ip_day,2,3,2,2,1
app_nunique_ip,19,20,17,31,1
app_nunique_ip_os,16,11,10,24,1
device_nunique_ip,1,1,3,6,1
app_nunique_channel,6,6,6,2,6
os_cumcnt_ip,0,0,0,0,0
app_nunique_ip_device_os,16,11,10,24,1
category,45840466,2828707,41578010,26340760,45114231
epochtime,1509978741,1509978814,1509978852,1509978892,1509978908
nextClick,5340,5547,5925,5110,1490021092

In [81]:
selcols = ['ip','channel']


# unique_channel = train_df[['ip','channel']].groupby('ip')['channel'].nunique().reset_index().\
#     rename(columns={
#         'channel' : 'unique_channel'
#     })
    
# train_df.merge(unique_channel,how='left',on='ip')

0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
          ...
999970       9
999971      12
999972      26
999973      12
999974      45
999975      76
999976      81
999977    1100
999978      10
999979       1
999980      24
999981       1
999982      47
999983       2
999984       2
999985       7
999986       0
999987       3
999988      16
999989      18
999990      30
999991       3
999992     627
999993     149
999994       8
999995       6
999996       1
999997       0
999998      36
999999       9
Length: 1000000, dtype: int64

In [73]:
selcols = ['ip','device','os','app']
gp = train_df[selcols].groupby(by=selcols[0:len(selcols)-1])[selcols[len(selcols)-1]].cumcount()    
gp1 = train_df[selcols].groupby(by=selcols[0:len(selcols)-1])[selcols[len(selcols)-1]].count()

In [78]:
gp

ip      device  os
9       1       13      2
10      1       22      1
20      1       10      1
                13      2
25      1       13      9
                18      1
27      1       13      7
                22     14
31      1       20     11
36      1       10     40
39      0       24      1
        1       13     10
                18      2
45      1       14      3
                47      2
52      1       19      1
59      1       18     19
                19      5
                27      1
        3032    607     2
60      1       10      1
61      1       13      1
63      1       13     14
                18      2
81      1       6       1
                13     12
                19      1
83      1       8       6
85      1       13      1
88      1       3       1
                       ..
212673  1       22      9
212677  1       19      2
212690  1       13     21
                20      1
                23      1
212695  1       20      8
212699  1       16      9
212700  2       9       2
212703  1       19      2
212706  1       8       7
212710  1       15     24
                18      2
212711  1       19      1
212712  1       10      3
212720  1       18      8
212725  1       23      7
                31      1
212734  1       22      1
212737  1       20      2
212742  1       13     12
212743  1       32      1
                49      3
212752  1       9       1
212761  1       13      6
212767  1       1       1
212773  1       6       1
                8       1
                19      9
                26      2
                46      3
Name: app, Length: 133878, dtype: int64

In [74]:
gp1.reset_index().app.cumsum()

0               2
1               3
2               4
3               6
4              15
5              16
6              23
7              37
8              48
9              88
10             89
11             99
12            101
13            104
14            106
15            107
16            126
17            131
18            132
19            134
20            135
21            136
22            150
23            152
24            153
25            165
26            166
27            172
28            173
29            174
           ...
133848     999858
133849     999860
133850     999881
133851     999882
133852     999883
133853     999891
133854     999900
133855     999902
133856     999904
133857     999911
133858     999935
133859     999937
133860     999938
133861     999941
133862     999949
133863     999956
133864     999957
133865     999958
133866     999960
133867     999972
133868     999973
133869     999976
133870     999977
133871     999983
133872     999984
133873     999985
133874     999986
133875     999995
133876     999997
133877    1000000
Name: app, Length: 133878, dtype: int64

(1000000, 18)

In [10]:
selcols = ['ip','channel']
i = 0
gp = train_df[selcols].groupby(by=selcols[0:len(selcols)-1])[selcols[len(selcols)-1]].nunique().reset_index().\
                    rename(index=str, columns={selcols[len(selcols)-1]: 'X'+str(i)})

In [19]:
train_df['os'].astype(str)

0        13
1        19
2        13
3        13
4        13
5        16
6        23
7        19
8        13
9        22
10       25
11       13
12       19
13       18
14       18
15       19
16       13
17       19
18       13
19       19
20       18
21       18
22        3
23       13
24       17
25       19
26       17
27       13
28       20
29       19
         ..
99970    19
99971     8
99972    14
99973    18
99974     8
99975     9
99976    17
99977    17
99978    27
99979    19
99980    10
99981    19
99982    17
99983     8
99984    13
99985    22
99986    19
99987    15
99988    25
99989    19
99990    13
99991    19
99992    13
99993     1
99994    13
99995    19
99996    13
99997    18
99998    13
99999    20
Name: os, Length: 100000, dtype: object

In [21]:
D = 2**26
train_df['category'] = (train_df['ip'].astype(str) + "_" + train_df['app'].astype(str) + "_" + train_df['device'].astype(str) \
+ "_" + train_df['os'].astype(str)).apply(hash) % D

In [22]:
train_df.head()

,ip,app,device,os,channel,click_time,is_attributed,category
0,83230,3,1,13,379,2017-11-06 14:32:21,0,45840466
1,17357,3,1,19,379,2017-11-06 14:33:34,0,2828707
2,35810,3,1,13,379,2017-11-06 14:34:12,0,41578010
3,45745,14,1,13,478,2017-11-06 14:34:52,0,26340760
4,161007,3,1,13,379,2017-11-06 14:35:08,0,45114231

In [23]:
click_buffer= np.full(D, 3000000000, dtype=np.uint32)

In [28]:
D=2**26
train_df['category'] = (train_df['ip'].astype(str) + "_" + train_df['app'].astype(str) + "_" + train_df['device'].astype(str) \
    + "_" + train_df['os'].astype(str)).apply(hash) % D
click_buffer= np.full(D, 3000000000, dtype=np.uint32)

train_df['epochtime']= train_df['click_time'].astype(np.int64) // 10 ** 9 
next_clicks= []
for category, t in zip(reversed(train_df['category'].values), reversed(train_df['epochtime'].values)):
    next_clicks.append(click_buffer[category]-t)
    click_buffer[category]= t

0    1509978741000000000
1    1509978814000000000
2    1509978852000000000
3    1509978892000000000
4    1509978908000000000
Name: click_time, dtype: int64